# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Gavin added these
/ARM64
/Tower_Defense_Team_PA9/ARM64
/Tower_Defense_Team_PA9/2.6.2
*.vscode
*.vcxproj

# ingrid 
/Debug
/Release
.vs/
*.vcxproj.user
*.vcxproj.filters
*.log
ipch/
.vs/Tower_Defense_Team_PA9/v17/.suo
.vs/Tower_Defense_Team_PA9/FileContentIndex/993d0cf7-d682-4840-9530-ee480371e7a8.vsidx
.vs/Tower_Defense_Team_PA9/FileContentIndex/b02b5634-4f65-4c4c-a7c2-8201b3dfa9ed.vsidx
.vs/Tower_Defense_Team_PA9/v17/.suo
.vs/Tower_Defense_Team_PA9/v17/Browse.VC.db
.vs/Tower_Defense_Team_PA9/v17/Browse.VC.db-shm
